.home-wrapper {
  .feedback-field,
  .updateFeedback,
  .successFeedback {
    color: rgb(243, 82, 19);
    font-size: 18px;
    text-transform: capitalize;
  }
  .bg-image {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(3, 3, 3, 0),
        rgba(12, 12, 12, 0.692)
      ),
      url("./food.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    .input-fields {
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      backface-visibility: hidden;
      h1 {
        animation: moveInLeft 1s ease-out;
      }
      h1,
      label {
        color: #c1c1c1;
      }
      label {
        font-weight: 700;
        animation: moveInRight 1s ease-out;
      }
      button {
        animation: moveUp 1s ease-out;
        box-shadow: 0 2px 50px #2b2a2a;
        border-radius: 100px;
        transition: all 0.3s;
        &:hover {
          transform: translateY(-3px);
        }
        &:active {
          transform: translateY(-1px);
        }
      }
    }
    @keyframes moveInLeft {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      80% {
        transform: translateX(10px);
      }
      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
    @keyframes moveInRight {
      0% {
        opacity: 0;
        transform: translateX(100px);
      }
      80% {
        transform: translateX(-10px);
      }
      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
    @keyframes moveUp {
      0% {
        opacity: 0;
        transform: translateY(100px);
      }
      80% {
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  .food_cards_wrapper {
    max-height: 50vh;
    overflow: auto;
    .food_card {
      border: 1px solid #e0e0e0;
      //padding-top: -550;
      margin-bottom: 20px;
      .header {
        padding: 5px;
        h5 {
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 15px;
        }
        button {
          font-weight: bold;
        }
      }
      .body {
        padding: 13px;
      }
    }
    //animation to new address added
    .added_food_animation {
      animation: slide-down 0.7s ease;
      @keyframes slide-down {
        0% {
          opacity: 0;
          transform: translateY(-30px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .bg-image {
    background-color: #fff;
    background-image: linear-gradient(
        to top,
        rgba(22, 18, 18, 0.637),
        rgba(12, 12, 12, 0.61)
      ),
      url("./mobile_food.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
    .input-fields {
      margin-top: 15px;
      position: absolute;
      top: 45% !important;
    }
  }
}
